<p id="notice"><%= notice %></p>

<% if !user_signed_in? %>
<div id="home" class="backgroundLayout">
  <div class="fadeIn title_middle_white">
   locagrid
 </div>
</div>
<% else %>
<div id="personalFeedBackground" class="backgroundLayout">
  <div class="fadeIn title_middle_white">
    your talent
  </div>
</div>
<% end %>

<div class="landingPageHeader">
  <h1>Your feed</h1>
  <h5>Wellington, New Zealand</h5>
  <br>
  <% if user_signed_in? %>
  <div style="text-align: center; background-color: #e7e7e7; color: black; padding: 15px; margin-bottom: 50px;">
    <%= link_to 'New Art Work', new_idea_path %>
  </div>
  <% end %>
  <br>
</div>





