<%= link_to 'Edit', edit_comment_path(@comment) %> | 
<a href="/ideas">Back</a>
<p style="font-family: Josefin Sans;">
  <strong>User name:</strong> <%= @comment.user_name %>
</p>

<p style="font-family: Josefin Sans;">
  <strong>Body:</strong> <%= @comment.body %>
</p>