/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body { padding-top: 35px; margin: 0%;}
 footer { margin-top: 100px; }
 table, td, th { vertical-align: middle; border: none; padding: 50px;}
 p{margin: 0%;} 

 td{
 	font-size: 6px;
 }

 @font-face {
 	font-family: mainTitle;
 	src: font-url('ChasingEmbersDemoVersion.ttf') format('truetype');

 }

 @font-face {
 	font-family: subTitle;
	/*src: font-url("ChasingEmbersDemoVersion.ttf");*/
	src: font-url('ChasingEmbersDemoVersion.ttf') format('truetype');

}

h1{
	text-decoration: none; 
	color:black; 
	font-family: Abril Fatface; 
}

.navbar-brand{
	text-decoration: none; 
	color:white; 
	font-size: 30px; 
	font-family: mainTitle; 
	border-right: thick solid white;
}

#home {
	background-image: url("mathyas-kurmann-102977.jpg");
}	

#loggedInHome {
	background-image: url("pablo-heimplatz-243286");
}	

#personalFeedBackground {
	background-image: url("teresa-kluge-250309");
}

.fadeIn {
	opacity: 0;
	animation: fadeIn 1.8s forwards;
}

.title_middle_white {
	font-size: 10em;
	color: white;
	padding-top: 450px;
	padding-left: 20px;
	padding-bottom: 100px;
	font-family: mainTitle;
	text-shadow: 2px 6px 50px black;
}

@media (max-width: 767px)  {
	.title_middle_white {
		font-size: 7.5em;
	}
}


.title_small_white {
	font-family: mainTitle;
	font-size: 6em;
	color: white;
	padding-left: 20px;
	padding-top: 180px;
	padding-bottom: 40px;
}

.sentiment {
	font-family: Josefin Sans;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}
	30% {
		opacity: 0;
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

#nitty {
	cursor: pointer;
	font-family: Josefin Sans;
	font-size: 1.5em;
	width: 200px;
}
#nitty:hover > div {
	display:block;
}
.accordion p {
	font-family: Josefin Sans;
	font-size: 1.3em;
}


#logInFormBackground {
	background-image: url("suhyeon-choi-233819");
}

#signUpFormBackground {
	background-image: url("aaron-birch-230226");
}

.backgroundLayout {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	width: 100%;
	height: 100%;
	position: relative; 
}

.topSpacer {
	padding-top: 10px;
}

.bottomSpacer{
	padding-bottom:20px;
}

.containerBody{
	padding-bottom: 60px;
}

.smallWidth{
	width: 10%;
}

.instagramButton{
	padding: 15px;
	color: white;
}

/*log in button*/
input[type=submit], input[type=button], button {
	display: inline-block;
	font-size: 1.25em;
	font-family: Josefin Sans;
	line-height: 10px;
	margin-right: 3px;
	padding: 7px 16px 6px;
	text-decoration: none;
	background-color: #838a90;
	background-image: linear-gradient(180deg, #838a90, #414549);
	text-shadow: #000 0 1px 0;
	color: #efefef;
}
/*sign up button*/
form input[type=submit], form input[type=button], form button {
	display: inline-block;
	font-size: 1.25em;
	font-family: Josefin Sans;
	line-height: 10px;
	margin-right: 3px;
	padding: 7px 16px 6px;
	text-decoration: none;
	background-color: #838a90;
	background-image: linear-gradient(180deg, #838a90, #414549);
	text-shadow: #000 0 1px 0;
	color: #efefef;
}


/*nav bar */
.navigation {
	list-style: none;
	margin: 0; 
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
}

.navigation a {
	text-decoration: none;
	display: block;
	padding: 1em;
	color: black;
	font-family: Josefin Sans;
	font-size: 1.2em;
}

.navigation a:hover {
	background: lighten(gray, 20%);
}
@media all and (max-width: 800px) {
	.navigation {
		justify-content: space-around;
	}
}

@media all and (max-width: 600px) {
	.navigation {
		padding: 0;
	}
	.navbar-brand { display: none; }
	.navigation a { 
		text-align: center; 
		padding: 10px;
	}

	#ugly_links {
		display: flex;
		flex-direction: row;
		margin-bottom: 20px;
	}
}

.field {
	font-family: Josefin Sans;
	font-size: 1.5em;
}

a:link, a:visited{
	text-decoration: none;
	color: #E3457F;
}

a:hover{
	text-decoration: underline;
	color: grey;
}

.ugly {
	text-align: center; 
	border: 1px solid black;
	border-radius: 40px; 
	color: black; 
	padding: 15px; 
	margin-left: 10px; 
	margin-bottom: 20px;
	font-family: Josefin Sans; 
	font-size: 1.25em; 
}

a.link-to-text-color { color:#8F908F; }
